@import "../../../../../../assets/sass/colors";

.label-highLight{
    color: $color-golden !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}
.btn-add{
    background-color: $bg-color-bg-dark !important;
    color: $color-white !important;
}
.card-wrap-item{
    font-size: 1rem !important;
}
.card-item-score{
    background-color: #ffd564;
    padding: 0.23rem;
    border-radius: 50%;
    font-size: 1rem !important;
    border: 2px solid $color-white;
}
.card-item-time{
    color: $color-black;
    font-weight: bold;
    font-size: 1rem !important;
}
.card-wrap-content, .card-wrap-actions{
    background-color: #dbdee1;
}