.buttom-addItem {
  background: linear-gradient(to right, #a9833e 0%, #d4a053 100%);
  border-top-left-radius: .50rem !important;
  border-top-right-radius: .50rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 45px !important;
  display: flex !important;
  justify-content: space-between !important; }
