$color-primary: #ffcc33;
$color-second: #ffb347;
$color-black: #000;
$color-gris: #272626;
$color-white: #fff;
$bg-color-bg-dark: #131720;
$color-golden: #a9833e;
$color-golden-rgb: rgb(169, 131, 62);